body {
    font-family: 'Lora'; font-size: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background-image: url("/images/background-alt.png");
}
h1 {
    font-family: 'Courier Prime'; font-size: 20px; font-weight: bold;
}
p {
    font-family: 'Lora'; font-size: 20px;
}

/* Halftone Pattern */
.navBar {
    background: rgb(255,85,238);
    background: linear-gradient(90deg, rgba(255,85,238,1) 0%, rgba(58,58,58,1) 42%);
    font-family: 'Courier Prime'; font-size: 40px;
    font-weight: bold;
}
.footer { 
    background: rgb(255,85,238);
    background: linear-gradient(270deg, rgba(255,85,238,1) 0%, rgba(58,58,58,1) 42%);
    font-family: 'Courier Prime'; font-size: 14px;
}