@font-face {
    font-family: "Albertsthal Typewriter";
    src: url("fonts/albertsthal_typewriter-webfont.woff") format("woff");
    src: url("fonts/albertsthal_typewriter-webfont.woff2") format("woff2");
}

/* Text */

body {
    font-family: 'Lora'; font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background-image: url("images/background-alt.png");
}
h1 {
    font-family: 'Albertsthal Typewriter', courier, serif;
    font-size: 20px;
    font-weight: bold;
    color: #2FE6FF;
}
p {
    font-family: 'Lora'; font-size: 16px;
    max-width: 500px;
}

p a {
    text-decoration: none;
    color: #f3e;
}

li a {
    text-decoration: none;
    color: #f3e;
}

/* Top Navigation Bar */

.navBar {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

    background-color:#3a3a3a;
    background-size:16px 16px;
    font-family: 'Albertsthal Typewriter', courier, serif;
    align-items: center;
    float: none;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.navBar a {
    text-decoration: none;
    color: #f3e;
    font-weight: bold;
    font-size: 26px;
    padding: 0px 10px 0px;
}
.navBar a.active {
    color: #F9E84C !important;
}
.navBar a:hover:not(.active){
    color: #2FE6FF;
}

/* Footer */
footer { 
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#3a3a3a;
    background-size:16px 16px;

    font-family: 'Albertsthal Typewriter', courier, serif; font-size: 14px;
}
footer a {
    text-decoration: none;
    color:#f3e;
}
footer a:hover {
    color: #F9E84C !important;
}